@using ANA_ProjectDesigner.Models.Domain;
@model List<ANA_ProjectDesigner.Models.Domain.Project>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Votre Page</title>
    <link rel="stylesheet" type="text/css" href="~/css/projectDetail.css">
    <style>
        body {
            display: flex;
            flex-direction: column;
        }

        #head {
            display: flex;
            flex-direction: row;
            background-color: #3D3939;
            height: 1%;
        }

        #cal {
            display: flex;
            height: 10%;
            width: 10%;
        }

        #cal {
            display: flex;
            align-self: center;
            justify-content: center;
        }

        #prj {
            display: flex;
            align-content: center;
            align-self: center;
            justify-self: center;
            justify-content: center;
            background-color: white;
            width: 20%;
            height: 20%;
            position: center;
        }
    </style>
</head>
<body>
    <div id="head">

        <img id="cal" src="/images/Logo_Calendar.svg" alt="Illustration" />
        <div id="dropdown">
            <select onchange="redirectToProject(this)">
                <option value="overview" selected>Overview</option>
                @foreach (var project in Model)
                {
                    <option value="@project.Id">@project.Name</option>
                }
            </select>
            <form id="projectForm" asp-controller="Project" asp-action="ProjectDetail" method="post">
                <input type="hidden" id="selectedProjectId" name="projectId" />
            </form>
        </div>
        <script>
            function redirectToProject(selectElement) {
                var selectedValue = selectElement.value;
                if (selectedValue === "overview") {
                    window.location.href = "@Url.Action("Overview", "Profil")";
                } else {
                    document.getElementById('selectedProjectId').value = selectedValue;
                    document.getElementById('projectForm').submit();
                    window.location.href = '/Project/ProjectDetail?projectId=' + selectedValue;
                }
            }
        </script>
    </div>
    <p id="prj">
        Projects
    </p>
    <table class="centerTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {
                <tr class="bgtr">
                    <td>@project.Name</td>
                    <td>@project.Description</td>
                    <td style="display:flex; gap:20px">
                        <button class="button" onclick="openEditPopup('@project.Id', '@project.Name', '@project.Description')">Edit</button>
                        <span style="align-self:center">|</span>
                        <form action="@Url.Action("DeleteProject", "Profil")" method="post">
                            <input type="hidden" name="id" value="@project.Id" />
                            <button class="button" type="submit">Delete</button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>


    </table>

    <button style="margin-top:20px;width: 50%;color:white;background: black; align-self: center;" onclick="openPopup('Add')">
        Create New Project
    </button>




    <p id="prj">
        Ressources
    </p>

    @if (ViewBag.Ressources != null && ViewBag.Ressources.Count > 0)
    {
        <table class="centerTable">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Capacité</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ressource in ViewBag.Ressources)
                {
                    <tr class="bgtr">
                        <td>@ressource.Name</td>
                        <td>@ressource.Capacity</td>
                        <td>
                            <form action="@Url.Action("Remove", "Ressource")" method="post">
                                <input type="hidden" name="id" value="@ressource.Id" />
                                <button class="button" type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p style="align-self:center">Aucune ressource trouvée.</p>
    }

    <!-- Div pour la pop-up -->
    @Html.Partial("PopUp/_CreateProjectPopUp")
    @Html.Partial("PopUp/_EditProjectPopUp")


    <!-- Div pour l'arrière-plan obscurci de la pop-up -->
    <div class="overlay" id="overlay" onclick="closePopup()"></div>

    <script>

        // Function to open the edit popup
        function openEditPopup(id, name, description) {
            document.getElementById('overlay').style.display = 'block';
            document.getElementById('popupEdit').style.display = 'block';

            document.getElementById('editName').value = name;
            document.getElementById('editDescription').value = description;

            document.getElementById('editProjectForm').addEventListener('submit', function (event) {
                event.preventDefault();
                var formData = new FormData(this);

                fetch('@Url.Action("EditProject", "Profil")' + '?id=' + id, {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (response.ok) {
                            window.location.reload();
                        } else {
                            console.error('Project edit failed.');
                        }
                    })
                    .catch(error => {
                        console.error('Error editing project:', error);
                    });
            });
        }

        // Fonction pour ouvrir la pop-up
        function openPopup(content) {
            document.getElementById('overlay').style.display = 'block';
            switch (content) {
                case 'Add':
                    document.getElementById('popup').style.display = 'block';
                    break;
                case 'Delete':
                    document.getElementById('popupDelete').style.display = 'block';
                    break;
                case 'Edit':
                    document.getElementById('popupEdit').style.display = 'block';
                    break;
                default:
                    console.log(`Content not found`);
            }
        }

        // Fonction pour fermer la pop-up
        function closePopup() {
            document.getElementById('popupEdit').style.display = 'none';
            document.getElementById('popup').style.display = 'none';
            document.getElementById('overlay').style.display = 'none';
        }


        function deleteProject(projectId) {
            if (confirm('Are you sure you want to delete this project?')) {
                var formData = new FormData();
                formData.append('id', projectId);

                fetch('@Url.Action("DeleteProject", "Profil")', {
                    method: 'POST',
                    body: formData
                })
                    .then(response => {
                        if (response.ok) {
                            // Reload the page or update UI as needed
                            window.location.reload(); // Example: reload the page
                        } else {
                            console.error('Project deletion failed.');
                        }
                    })
                    .catch(error => {
                        console.error('Error deleting project:', error);
                    });
            }
        }

    </script>

</body>
</html>
